@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    background-image: linear-gradient(to right, #000000, #2e0202);
}

main{
    background-color: white;
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 10px 10px #332827a2;
}

h1{
    text-align: center;
    color: #851111;
    text-shadow: 5px 5px 5px #702d2785;
}

h2{
    color: #854F4A;
}

p{
    text-align: center;
}